:root{
	--black: #232536;
	--white: #ffffff;
	--true-black: #000000;
	--yellow: #FFD050;
	--dark-gray: #4C4C4C;
	--purple: #592EA9;
	--light-yellow: #FBF6EA;


	--white-rgb: 255, 255, 255;
	--black-rgb: 35, 37, 54;


	--kanit: "Kanit", sans-serif;
	--inter: "Inter", sans-serif;
	--sen: "Sen", sans-serif;
}