@mixin mobileP {
	@media screen and (min-width: 320px) {
		@content;
	}
}

@mixin mobile {
	@media screen and (min-width: 480px) {
		@content;
	}
}

@mixin mobileG {
	@media screen and (min-width: 576px) {
		@content;
	}
}

@mixin TabletM {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin Tablet {
	@media screen and (min-width: 992px) {
		@content;
	}
}

@mixin TabletG {
	@media screen and (min-width: 1200px) {
		@content;
	}
}

@mixin Notebook {
	@media screen and (min-width: 1400px) {
		@content;
	}
}

@mixin Desktop {
	@media screen and (min-width: 1401px) {
		@content;
	}
}

.listPost{
    width: 100%;

    @include Tablet(){
        width: 35.9%;
    }

    > section:first-child{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        h2{
            font-size: 1.75rem;
            font-weight: 700;
            font-family: var(--sen);
            line-height: 2.75rem;
            color: var(--black);

            @include mobile(){
                font-size: 2.25rem;
            }
        }

        > a{
            font-size: 1rem;
            font-weight: 400;
            font-family: var(--inter);
            line-height: 1.75rem;
            color: var(--purple);
            text-decoration: none;

            &:hover{
                color: var(--black);
            }
        }
    }

    > section:last-child{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 100%;
    }
}